
<ion-header>

  <ion-navbar>
    <ion-title>{{recipe.title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
 <ion-grid>
  <ion-row>
   <ion-col>
    <h2>{{recipe.title}}</h2>
    <div>
     {{recipe.difficulty}}
    </div>
   </ion-col>
  </ion-row>
  <ion-row>
   <ion-col>
    <p>{{recipe.description}}</p>
   </ion-col>
  </ion-row>
  <ion-row *ngIf="recipe.ingredients.lenght > 0">
   <ion-col>
    <ion-list>
     <ion-item *ngFor="let item of recipe.ingredients"></ion-item>
      <!-- {{item.name}} -->
    </ion-list>
   </ion-col>
  </ion-row>
  <ion-row>
   <ion-col>
    <button ion-button clear (click)="onAddIngredients()" color="danger">Add Ingredient to List</button>
   </ion-col>
  </ion-row>
  <ion-row>
   <ion-col><button ion-button outline block (click)="onEditRecipe()">Edit Recipe</button></ion-col>
   <ion-col><button ion-button outline block (click)="onDeleteRecipe()"></button></ion-col>
  </ion-row>
 </ion-grid>
</ion-content>
